/* Primer intento grid */



/* General styles */

:root {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Regular', sans-serif;
    --main-red: #F46A6A;
    --main-yellow: #FFCB39;
    --main-dark-grey: #3D3D3D;
}

@font-face {
    font-family: 'Nunito Black', sans-serif;
    src: url(fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    src: url(fonts/IBMPlexSans-Regular.ttf);
}

h1, h2, h3 {
    font-family: 'Nunito Black', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

.btn {
    background-color: var(--main-red);
    color: #fff;
    padding: 1em 2em;
    border-radius: 28px;
}

section {
    padding: 2em;
    border: 1px solid black;
}

/* Navbar */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}

.logo {
    align-self: flex-start;
    margin-top: 1.5em;
}

ul.main-nav li:hover a {
    color: var(--main-red);
    text-decoration: none;

}

ul.main-nav a:link {
    text-decoration: none;
}

ul.main-nav a:visited { 
    text-decoration: none; 
    color: var(--main-dark-grey); 
}

ul.main a:active {
    color: var(--main-dark-grey);
}

.main-nav .nav-item {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-red);
    border-radius: 10px;

}

@media (max-width: 1024px) {
    .toggle-btn {
        display: flex;
    }

    .main-nav .nav-item {
        display: none;
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav {
        width: 100%;
        flex-direction: column;
    }

    .main-nav li {
        text-align: center;
    }

    .main-nav li a {
        padding: .5rem 1rem;
    }

    .main-nav.active {
        display:flex;
    }
}

/* Home */

.sec-one {
    display: grid;
    grid-template-columns: [first] 50% [second] 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;
    padding-top: 100px;
    margin-top: 30px;
}

.sec-one h1 {
    grid-column-start: first;
    grid-row-start: 2;
    grid-row-start: 2;
    line-height: 1em;
    white-space: pre-line;
    width: 100%;
    margin: 5px;
}

.sec-one p {
    grid-column-start: first;
    grid-row-start: 3;
    grid-row-start: 3;
    margin-top: 1em;
}

.sec-one button {
    grid-column-start: first;
    grid-row-start: 4;
    grid-row-start: 4;
    margin-top: 1em;
}

.mockup img {
    width: 30%;
}

/* About */

/* Store */

/* Adopt */

/* Contact */

/* Footer */
