/* General styles */

:root {
    box-sizing: border-box;
    --main-color: #f46a6a;
}

@font-face {
    font-family: 'Nunito Bold', sans-serif;
    src: url(fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'IBM Plex Sans Regular', sans-serif;;
    src: url(fonts/IBMPlexSans-Regular.ttf);
}

body {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
  
.header {
    line-height: 90px;
    width: 100%;
    transition: line-height 0.2s linear, box-shadow 0.2s linear;
    position: fixed;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.025); 
}

/* Navbar */
.nav {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

ul.nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 1em 0 0;
}
  
ul.nav li {
    float: left;
    position: relative;
}
  
ul.nav li a {
    transition: color 0.2s linear;
    font-size: 1.1em;
}
  
ul.nav li:hover a {
    color: var(--main-color);
}
  
ul.nav li a {
    padding: 1.2em;
    color: initial;
    text-decoration: initial;
}

.btn-contact {
    float: right;
    margin-left: 10px;
}

.btn-contact {
    margin-top: 20px;
    background: var(--main-color) none repeat scroll 0 0;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    border-top: 50px;
    padding:14px 35px;
    text-transform: uppercase;
    box-shadow:0 5px 40px 0 rgba(42, 111, 199, 0.2);

}
    
/* Home */

.about-text h2 {
	color: #fff;
	font-size: 60px;
	padding-top: 250px;
	text-transform: none;
}