/* START General styles */

:root {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    --main-red: #F46A6A;
    --main-yellow: #FFCB39;
    --main-dark-grey: #3D3D3D;
    --main-light-grey: #E6E6E6;
}

@font-face {
    font-family: 'Nunito Black', sans-serif;
    src: url(fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    src: url(fonts/IBMPlexSans-Regular.ttf);
}

h1, h2, h3 {
    font-family: 'Nunito Black', sans-serif;
    color: var(--main-dark-grey);
}

.btn {
    background-color: var(--main-red);
    color: #fff;
    padding: .80rem 1.80rem;
    border-radius: 1.7rem;
}

section {
    padding: 2rem;
}

a {
    text-decoration: none;
    color: var(--main-light-greyi);
}
/* END General styles */


/* START Navbar */
.navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}

.logo-nav {
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-right: 8rem;
}

.mainNav {
    list-style: none;
    margin-left: 20rem;
}

ul .mainNav a:link {
    color: var(--main-dark-grey);
}

ul .mainNav li:hover a {
    color: var(--main-red);
    text-decoration: none;
}

ul .mainNav a:visited { 
    text-decoration: none; 
    color: var(--main-dark-grey); 
}

ul .mainNav .btn a:link, {
    text-decoration: none;
    color: #fff;
}

ul .mainNav .btn a:visited { 
    text-decoration: none; 
    color:#fff;
}

.mainNav .navItem {
    display: inline-block;
    padding: 1.4rem 1.5rem;
    text-decoration: none;
}

.toggleBtn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.9rem;
    height: 1.3rem;
}

.toggleBtn .bar {
    height: .18rem;
    width: 100%;
    background-color: var(--main-red);
    border-radius: .62rem;

}

@media (max-width: 1200px) {
    .logo-nav {
        margin-left: .5rem;
        margin-bottom: 1.4rem;
    }

    .toggleBtn {
        display: flex;
        margin-top: 1.4rem;
        margin-right: 1rem;
    }

    .mainNav .navItem {
        display: none;
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .mainNav {
        width: 100%;
        flex-direction: column;
    }

    .mainNav li {
        text-align: center;
    }

    .mainNav li a {
        padding: .5rem 1rem;
    }

    .mainNav.active {
        display:flex;
    }
}
/* END Navbar */


/* START Home / Hero section */
.herocontainer {
    margin-top: 5.72rem;
    background-image: url("imgs/w-bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

.grid-about {
    display: grid;
    grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: .8rem;
    margin: 0 4rem 0;
}

.grid-about h1 {
    font-size: 5rem;
    grid-column-start: first;
    grid-column-end: fourth;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 8rem;
}

.grid-about p {
    grid-column-start: first;
    grid-column-end: third;
    grid-row-start: 2;
    grid-row-end: 2;
    color: var(--main-dark-grey);
    font-size: 1.5rem;
    margin-top: 6rem;
}

.grid-about .btn-home {
    grid-column-start: first;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2rem;
}

.mockup {
    width: 160%;
    margin-top: 2rem;
}

.grid-about .mockup {
    grid-column-start: third;
    grid-column-end: fourth;
    grid-row-start: 1;
    grid-row-end: 4;
}

@media (max-width: 1200px) {
    .grid-about {
        display: grid;
        grid-template-columns: [first] 50% [second] 50%;
        grid-template-rows: 30% 30% 40%;
        margin: 0 4rem 0;
    }
    
    .grid-about h1 {
        font-size: 4rem;
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 8rem;
    }
    
    .grid-about p {
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: 2;
        grid-row-end: 2;
        color: var(--main-dark-grey);
        font-size: 1.5rem;
        margin-top: 6rem;
    }
    
    .grid-about .btn-home {
        grid-column-start: first;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-top: 2rem;
    }
    
    .mockup {
        width: 100%;
        margin-top: 2rem;
        margin-right: 6rem;
    }
    
    .grid-about .mockup {
        grid-column-start: second;
        grid-column-end: second;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
}

@media (max-width: 650px) {
    .grid-about {
        display: grid;
        grid-template-columns: [first] 100%;
        grid-template-rows: 50% 50%;
        margin: 0 4rem 0;
    }
    
    .grid-about h1 {
        font-size: 4rem;
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 5rem;
    }
    
    .grid-about p {
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: 1;
        grid-row-end: 1;
        color: var(--main-dark-grey);
        font-size: 1.5rem;
        margin-top: 26rem;
    }
    
    .grid-about .btn-home {
        grid-column-start: first;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 37rem;
    }
    
    .mockup {
        width: 100%;
    }
    
    .grid-about .mockup {
        grid-column-start: first;
        grid-column-end: first;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
}
/* END Home / Hero section */


/* START About */
.curveUpRed {
    margin-top: -20rem;
    margin-bottom: -.3rem;
}

.about {
    background-color: var(--main-red);
    color: var(--main-light-grey);
}

.title h2 {
    font-size: 3em;
    color:#fff;
}
/* END About */

/* START Store */
.store {
    background-image: url("imgs/w-bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

.main-types {
    list-style: none;
}
/* END Store*/


/* START Adopt */
.adopt {
    border: 1px solid #000;
    background-color: var(--main-yellow);
}

.main-cats {
    list-style: none;
}
/* END Adopt */


/* START Contact */
/* END Contact */


/* START Footer */
footer {
    background-color: var(--main-dark-grey);
    color: var(--main-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {

    margin-top: 4.3rem;
    margin-bottom: 4.3rem;
}

footer .footer-text {
    margin-bottom: 3.5rem;
    text-align: center;
}

footer p {
    margin: .5rem;
    font-size: .9rem;
}
/* END Footer */